In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [4]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index = ['a', 'c', 'd', 'e'])

In [5]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [6]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index = ['a', 'c', 'e', 'f', 'g'])

In [7]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [8]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [9]:
# 두 데이터 사이에 같은 색인이 없으면 색인 값은 NaN이 된다.

In [11]:
df1 = pd.DataFrame({'A': [1, 2]})

In [12]:
df2 = pd.DataFrame({'B': [3, 4]})

In [13]:
df1.add(df2, fill_value = 0)

     A    B
0  1.0  3.0
1  2.0  4.0

In [14]:
1/df1

     A
0  1.0
1  0.5

In [15]:
df1.rdiv(1)

     A
0  1.0
1  0.5

In [16]:
arr = np.arange(12.).reshape((3,4))

In [17]:
arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [18]:
frame = pd.DataFrame(np.random.randn(4,3), columns = list('bde'), index = ['utah', 'ohio', 'texas', 'oregon'])

In [19]:
frame

               b         d         e
utah    1.452369  0.169808  0.152582
ohio    0.033053 -1.363059 -0.806374
texas   0.427306  0.014996 -1.026084
oregon -0.031726 -0.955957 -2.541741

In [20]:
f = lambda x:x.max() - x.min()

In [21]:
#lambda로 함수를 만듬

In [22]:
frame.apply(f)

b    1.484094
d    1.532866
e    2.694322
dtype: float64

In [23]:
frame.apply(f, axis = 'columns')

utah      1.299787
ohio      1.396111
texas     1.453390
oregon    2.510015
dtype: float64

In [27]:
obj = pd.Series(range(5), index = ['a', 'a', 'b', 'b', 'c'])

In [28]:
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [29]:
#색인은 중복될 필요 없음

In [30]:
obj.index.is_unique

False

In [31]:
obj['a']

a    0
a    1
dtype: int64

In [32]:
#is_unique는 해당값이 유일한지 아닌지 알려준다.
#색인의 값이 중복되지 않는다면 스칼라값을 중복되면 series를 반환

TypeError: __init__() got multiple values for argument 'index'