In [5]:
from datetime import datetime
import numpy as np
import pandas as pd

In [11]:
dates = [datetime(2021, 1, 3), datetime(2021, 1, 5),datetime(2021, 1, 7), datetime(2021,1,8),datetime(2021,1,10), datetime(2021,1,12)]

In [13]:
ts = pd.Series(np.random.randn(6), index = dates)
ts

2021-01-03    0.126496
2021-01-05    0.430048
2021-01-07    0.705545
2021-01-08    1.529928
2021-01-10    0.277724
2021-01-12   -1.736278
dtype: float64

In [14]:
ts.index

DatetimeIndex(['2021-01-03', '2021-01-05', '2021-01-07', '2021-01-08',
               '2021-01-10', '2021-01-12'],
              dtype='datetime64[ns]', freq=None)

In [15]:
ts + ts[::2]

2021-01-03    0.252992
2021-01-05         NaN
2021-01-07    1.411089
2021-01-08         NaN
2021-01-10    0.555447
2021-01-12         NaN
dtype: float64

In [16]:
ts.index.dtype

dtype('<M8[ns]')

In [17]:
stamp = ts.index[0]

In [18]:
stamp

Timestamp('2021-01-03 00:00:00')

In [19]:
ts['1/10/2021']

0.2777236704233708

In [20]:
ts['20210110']

0.2777236704233708

In [21]:
longer_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 1000))

In [22]:
longer_ts

2000-01-01   -0.226821
2000-01-02   -0.326111
2000-01-03    0.575576
2000-01-04   -2.444455
2000-01-05    0.597463
                ...
2002-09-22    1.010829
2002-09-23   -0.277242
2002-09-24   -1.135005
2002-09-25   -0.047330
2002-09-26    0.621044
Freq: D, Length: 1000, dtype: float64

In [23]:
longer_ts['2001']

2001-01-01    0.221114
2001-01-02   -0.146070
2001-01-03    0.982845
2001-01-04    1.230438
2001-01-05   -0.630182
                ...
2001-12-27    0.943863
2001-12-28   -1.624571
2001-12-29   -0.833905
2001-12-30   -0.348037
2001-12-31    1.651059
Freq: D, Length: 365, dtype: float64

In [24]:
ts['1/6/2021':'1/11/2021']

2021-01-07    0.705545
2021-01-08    1.529928
2021-01-10    0.277724
dtype: float64

In [25]:
ts.truncate(after = '1/9/2021')

2021-01-03    0.126496
2021-01-05    0.430048
2021-01-07    0.705545
2021-01-08    1.529928
dtype: float64

In [26]:
dates = pd.date_range('1/1/2000', periods = 100, freq = 'W-WED')

In [27]:
long_df = pd.DataFrame(np.random.randn(100,4), index = dates, columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

In [28]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.960529 -0.333807 -1.089505  1.108600
2001-05-09 -0.809496 -1.038504  1.161720  0.128562
2001-05-16 -1.133102 -0.366749 -1.733029  1.569701
2001-05-23  0.767168  0.044576  0.994007 -3.005789
2001-05-30  0.401732 -0.980694 -0.694258 -0.364251

In [29]:
import pytz

In [30]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [31]:
tz = pytz.timezone('America/New_York')

In [32]:
tz

In [33]:
pd.date_range('3/9/2012 9:30', periods = 10, freq = 'D', tz = 'UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [34]:
ts

2021-01-03    0.126496
2021-01-05    0.430048
2021-01-07    0.705545
2021-01-08    1.529928
2021-01-10    0.277724
2021-01-12   -1.736278
dtype: float64

In [35]:
p = pd.Period(2007, freq = 'A-DEC')
p

Period('2007', 'A-DEC')

In [36]:
pd.Period('2014', freq = 'A-DEC') - p

In [37]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq = 'M')

In [38]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [39]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [40]:
index = pd.PeriodIndex(values, freq = 'Q-DEC')

In [41]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [42]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [43]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [44]:
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [45]:
p = pd.Period('2007', freq='A-JUN')

In [46]:
p

Period('2007', 'A-JUN')

In [47]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [48]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [49]:
p = pd.Period('Aug-2007', 'M')

In [50]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [51]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [53]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006    1.068413
2007   -0.869628
2008    0.744942
2009    0.271206
Freq: A-DEC, dtype: float64

In [54]:
ts.asfreq('M', how='start')

2006-01    1.068413
2007-01   -0.869628
2008-01    0.744942
2009-01    0.271206
Freq: M, dtype: float64

In [55]:
ts.asfreq('B', how='end')

2006-12-29    1.068413
2007-12-31   -0.869628
2008-12-31    0.744942
2009-12-31    0.271206
Freq: B, dtype: float64

In [56]:
p4pm = (p.asfreq('B', 'e')-1).asfreq('T', 's')+16*60
p4pm

Period('2007-08-30 16:00', 'T')

In [59]:
p4pm.to_timestamp()

Timestamp('2007-08-30 16:00:00')

In [60]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [61]:
ts = pd.Series(np.arange(len(rng)), index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [62]:
new_rng = (rng.asfreq('B', 'e')-1).asfreq('T', 's')+16*60

In [63]:
ts.index = new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32