# 3기 과제 - 파이썬 기초 문제 풀기
- 지금까지 배운 기초 문법을 토대로 아래의 문제들을 풀어보세요
- **최대한 간단하게** 소스코드를 작성해 주세요
- '이름_정답.ipynb' 로 저장 후 과제 폴더에 제출해주세요 (2021.04.15 (목) 까지 제출)

> 1. 화면에 Hello World 문자열을 출력하세요.

In [1]:
print('Hellow World')

> 2. print() 함수를 사용하여 다음과 같이 출력하세요. (hint : sep 인자를 사용하세요)

실행 예 :   
**월요일,화요일,수요일,목요일**

In [2]:
print('월요일,화요일,수요일,목요일')

월요일,화요일,수요일,목요일

> 3. 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다. 두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예 :  
**hello! python**

In [3]:
s = "hello"
t = "python"

# start code 와 end code 사이에만 코드를 작성해 주세요!

# ---------- start code ----------
print(s + ' ' + t)


# ---------- end code ------------

hello python

> 4. a와 b의 데이터 타입을 출력하세요.    

실행 예 :   
**<class 'int'>**  
**<class 'str'>**

In [4]:
a = 128
b = 'Turtle'

# start code 와 end code 사이에만 코드를 작성해 주세요!

# ---------- start code ----------
print(type(a))

print(type(b))

# ---------- end code ------------

<class 'int'>
<class 'str'>

> 5. 문자열 '720'를 정수형으로 변환해보세요.

In [5]:
num_str = "720"

# ---------- start code ----------
num_int = int(num_str)
# ---------- end code ------------

print(num_int, type(num_int))

720 <class 'int'>

> 6. string 이 바인딩하는 문자열에서 네번째와 일곱번째 문자를 출력하세요.  

실행 예 :  
**o t**

In [6]:
string = "algorithm"

# ---------- start code ----------
print(string[3] + ' ' + string[6])


# ---------- end code ------------

o t

> 7. 문자열을 거꾸로 뒤집어 출력하세요.  

실행 예 :   
**NOHTYP**

In [7]:
string = "PYTHON"

# ---------- start code ----------
string_list = list(string)

string_list.reverse()

print(''.join(string_list))

# ---------- end code ------------

NOHTYP

> 8. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.  

실행 예 :    
**010 1234 1234**

In [8]:
phone_num = "010-1234-1234"

# ---------- start code ----------
phone_num1 = phone_num.replace('-',' ')
# ---------- end code ------------

print(phone_num1)

010 1234 1234

> 9. 다음과 같은 문자열이 있을 때 이를 소문자 datascience로 변경하여 출력하세요.

In [9]:
string = 'DATASCIENCE'

# ---------- start code ----------
print(string.lower())
# ---------- end code ------------

datascience

> 10. color 리스트에는 아래와 같이 네 개의 색이 바인딩되어 있습니다. "purple"을 "red"와 "blue" 사이에 추가하고 출력하세요.

In [10]:
color = ["black", "white", "red", "blue", "yellow"]

# ---------- start code ----------
color.insert(3, 'purple')

print(color)
# ---------- end code ------------

['black', 'white', 'red', 'purple', 'blue', 'yellow']

> 11. alpha 리스트에서 '100'를 삭제하고 출력하세요.

In [11]:
alpha = ['a', 'b', '100', 'c', 'd']

# ---------- start code ----------
del alpha[2]

print(alpha)
# ---------- end code ------------

['a', 'b', 'c', 'd']

> 12. 다음 리스트에서 최댓값과 최솟값을 출력하세요. (힌트: min(), max() 함수 사용) 

실행 예 :   
**max:  7**  
**min:  1**

In [12]:
nums = [1, 2, 3, 4, 5, 6, 7]

# ---------- start code ----------
M = str(max(nums))
m = str(min(nums))

print('max:' + M)
print('min:' + m)
# ---------- end code ------------

max:7
min:1

> 13. 다음 리스트에 저장된 데이터의 개수를 출력하세요.

In [13]:
day = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

# ---------- start code ----------
print(len(day))
# ---------- end code ------------

7

> 14. 다음 리스트의 평균과 합을 출력하세요.

In [14]:
nums = [1, 2, 3, 4, 5]

# ---------- start code ----------
result = sum(nums)
print(result)

print(result / len(nums))
# ---------- end code ------------

15
3.0

> 15. interest 리스트에는 아래의 데이터가 바인딩되어 있습니다. 리스트 인덱싱을 사용하여 아래와 같이 화면에 출력하세요.  

실행 예 :   
**삼성전자 Naver**

In [15]:
interest = ['삼성전자', 'LG전자', 'Naver']

# ---------- start code ----------
print(interest[0] + ' ' + interest[2])
# ---------- end code ------------

삼성전자 Naver

> 16. empty 이름의 비어있는 튜플을 만드세요.

In [16]:
# ---------- start code ----------
empty = tuple([])
# ---------- end code ------------

print(type(empty))

<class 'tuple'>

> 17. list [5, 3, 1, -1, -3, -5, -7, -9] 가 출력되게 만드세요. 리스트를 만들 때는 'range'를 사용해야 합니다.

In [17]:
# ---------- start code ----------
a = list(range(5,-10,-2))
print(a)
# ---------- end code ------------

[5, 3, 1, -1, -3, -5, -7, -9]

> 18. 국어, 영어, 수학, 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격이라고 정했습니다.   
코드를 완성하여 합격이면 True, 불합격이면 False가 출력되게 만드세요.

In [18]:
kor = 92
eng = 58
mat = 86
sci = 8

# ---------- start code ----------
tup = [kor, eng, mat, sci]
summ=0
for x in tup:
    if x < 50:  
        print('False')
        break
    summ=summ+1
if summ == 4:
    print("True")
        
# ---------- end code ------------

False

> 19. 사용자에게 정수 세 개를 **입력받으면** 합계를 출력하는 코드를 작성하세요. (힌트:input() 함수 사용)

In [19]:
summ = 0
a = 0
while a <3:
    b = int(input())
    summ = summ + b
    a = a+1
print('합 = %d' %(summ))

1
2
3
합 = 6

> 20-1. 다음 과일 이름과 색깔을 딕셔너리로 구성한 뒤 출력하세요.  
20-2. 만든 딕셔너리를 사용하여 "grape" 의 색깔을 출력하세요.

|과일|색깔|
|------|---|
|apple|red|
|grape|purple|
|lemon|yellow|

In [20]:
# 20-1 question ------------------
d1 = {'apple':'red', 'grape':'purple', 'lemon':'yellow'}

# ---------- end code ------------


# 20-2 question ------------------
print(d1['grape'])
# ---------- end code ------------

purple

> 21. icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하세요.

In [21]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

# ---------- start code ----------
average = sum(icecream.values())
print(average)
# ---------- end code ------------

6700

> 22. 아래 두 개의 튜플을 하나의 딕셔너리로 변환하여 출력하세요. keys를 키로, vals를 값으로 저장해야 합니다.

In [22]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

# ---------- start code ----------
myzip = zip(keys,vals)
mydic = dict(myzip)
print (mydic)
# ---------- end code ------------

{'apple': 300, 'pear': 250, 'peach': 400}

> 23. x의 값이 10이 아닐 때 'ok'가 출력되게 만드세요. (if 조건문 사용)

In [23]:
x = 5

# ---------- start code ----------
if x != 10:
    print('ok')

# ---------- end code ------------

ok

> 24. 변수 x가 11과 20 사이면 '11-20', 21과 30 사이면 '21-30', 아무것도 해당하지 않으면 '아무것도 해당하지 않음'이 출력되게 만드세요.

In [24]:
x = int(input())

# ---------- start code ----------
if x in range(11,21):
    print('11-20')
elif x in range(21,31):
        print('21-31')
else: 
    print ('아무것도 해당하지 않음')





# ---------- end code ------------

34
아무것도 해당하지 않음

> 25. 리스트 x에 들어있는 각 요소에 10을 곱한 값이 출력되게 만드세요. 모든 숫자는 공백으로 구분하여 한 줄로 출력되어야 합니다.

실행 예 :   
**490 -170 250 1020 80 620 210**

In [25]:
x = [49, -17, 25, 102, 8, 62, 21]

# ---------- start code ----------
for k in x:
    print(k*10,end=' ')

# ---------- end code ------------

490 -170 250 1020 80 620 210

> 26. 0과 73 사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요.  

실행 예 :    
**3 13 23 33 43 53 63 73**

In [26]:
x = range(0,73)
for a in x:
    if a%10 == 3:
        print(a,end=" ")

3 13 23 33 43 53 63

> 27. 리스트 a에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요 (hint: 리스트 표현식)

In [27]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

# ---------- start code ----------
b = [i for i in a if len(i) == 5]
# ---------- end code ------------

print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

> 28. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 "print_arithmetic_operation" 함수를 작성하라.  

실행 예 :  
**3 + 4 = 7**  
**3 - 4 = -1**  
**3 * 4 = 12**  
**3 / 4 = 0.75**

In [28]:
# ---------- start code ----------    
def print_arithmetic_operation(a, b):
    print('%d + %d = %d' %(a,b,a+b))
    print('%d - %d = %d' %(a,b,a-b))
    print('%d * %d = %d' %(a,b,a*b))
    print('%d / %d = %d' %(a,b,a/b))




# ---------- end code ------------                                 
 
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0

> 29. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.  

실행 예 :   
**2**  
**10**   
**12**

In [29]:
# ---------- start code ----------    
def print_even(a):
    for x in a:
        if x%2 == 0:
            print(x)



# ---------- end code ------------  

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

> 30. 아래와 같이 "price_list" 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라. (hint: enumerate)  

실행 예 :   
**0 32100**  
**1 32150**  
**2 32000**  
**3 32500**

In [30]:
price_list = [32100, 32150, 32000, 32500]

# ---------- start code ----------   
for x in range(len(price_list)):
    print('%d %d' %(x, price_list[x]))
    

# ---------- end code ------------

0 32100
1 32150
2 32000
3 32500

# 보너스 문제
- 아래 네 개의 문제 중 **두 개**를 선택해서 풀고, **주석을 통해 코드를 간단히 설명해주세요.**

## 1. 숫자 Up & Down 게임
- 컴퓨터가 1~100 사이의 랜덤한 수를 제시하고 사용자가 그 수를 맞추는 게임을 만들어보세요.
- 실행 예 :   

1~100 숫자 Up & Down 게임을 시작합니다 !!!  
++++++++++++++++++++++++++++++++++++  
1 ~ 100 사이의 숫자를 입력하세요 : 60  
Down  
1 ~ 100 사이의 숫자를 입력하세요 : 55  
Up  
1 ~ 100 사이의 숫자를 입력하세요 : 57  
Up   
++++++++++++++++++++++++++++++++++++  
4 번 만에 정답을 맞추셨습니다

In [5]:
print('1~100 숫자 Up & Down 게임을 시작합니다 !!! ++++++++++++++++++++++++++++++++++++')
import random
numm_cum = random.randint(1,100)
numm = 0
while (1):
    numm = numm + 1
    x = int(input('1~100사이의 숫자를 입력하시오:'))
    if x == numm_cum:
        break
    elif x > numm_cum:
        print('Down')
    else:#if x < numm_cum:
        print('Up')
print('++++++++++++++++++++++++++++++++++++')
print('%d 번 만에 정답을 맞추셨습니다'%(numm))

1~100 숫자 Up & Down 게임을 시작합니다 !!! ++++++++++++++++++++++++++++++++++++
1~100사이의 숫자를 입력하시오:50
Up
1~100사이의 숫자를 입력하시오:60
Up
1~100사이의 숫자를 입력하시오:70
Up
1~100사이의 숫자를 입력하시오:80
Up
1~100사이의 숫자를 입력하시오:90
Down
1~100사이의 숫자를 입력하시오:85
++++++++++++++++++++++++++++++++++++
6 번 만에 정답을 맞추셨습니다

7
65## 2. 구구단 출력하기
- 2단에서 9단까지 구구단을 출력하세요.
- 실행 예 :   
    
★ 구구단을 출력합니다.  

------- [2단] -------  
2 X 1 = 2  
2 X 2 = 4  
2 X 3 = 6  
2 X 4 = 8  
2 X 5 = 10  
2 X 6 = 12  
2 X 7 = 14  
2 X 8 = 16  
2 X 9 = 18  
------- [3단] -------  
3 X 1 = 3  
3 X 2 = 6  
3 X 3 = 9  

...

------- [9단] -------  
9 X 1 = 9  
9 X 2 = 18  
9 X 3 = 27  
9 X 4 = 36  
9 X 5 = 45  
9 X 6 = 54  
9 X 7 = 63  
9 X 8 = 72  
9 X 9 = 81

## 3. (*)로 Tree 만들기
- 사용자에게 Tree의 높이 (기둥 부분 제외) 를 입력받아, 그 높이만큼 Tree를 출력하는 코드를 작성하세요.
- 실행 예 :   
    
Tree 의 높이를 입력하세요(5~30) : 5
    
         *  
        ***  
       *****  
      *******  
     *********  
        ***  
        ***  
        ***

## 4. 로또 번호 추출하기
- 사용자에게 로또 개수를 입력 받아, 1부터 45까지 번호 중 여섯개의 로또 번호를 랜덤으로 생성하는 코드를 작성하세요.
- 같은 로또 안에서 중복된 숫자가 있으면 안됩니다.
- 실행 예 :   
    
로또 개수를 입력하세요 : 5  
[6, 9, 13, 23, 36, 44]  
[3, 7, 12, 27, 42, 44]  
[8, 12, 28, 29, 31, 44]  
[1, 24, 33, 37, 40, 45]  
[9, 12, 22, 26, 36, 38]

In [41]:
import random
a = int(input('로또 개수를 입력하세요 :'))
x = 0
while x < a:
    print('[',end="")
    for k in range(6):
        if k==5:
            print(random.randint(1,46),end='')
        else:
            print(random.randint(1,46),end=', ')
    print(']')
    x = x + 1

로또 개수를 입력하세요 :2
[14, 9, 25, 4, 8, 37]
[24, 31, 29, 13, 23, 1]

------------------------------
# 끝
## 수고하셨습니다 ^_^

### Reference
- Python 3.4 공부 좀 해볼까?
- 파이썬 코딩 도장
- 초보자를 위한 파이썬 300제